.profile__avatar-button{
    display: flex;
    justify-content: center;
    color: transparent;
    border: 0 transparent;
    background-color: transparent;
    padding: 0;
    border-radius: 100%;
    cursor: pointer;
    overflow: hidden;
    height: 120px;
    width: 120px;
}
@media screen and (max-width: 650px){
    .profile__avatar-button{
        margin-bottom: 22.25px;
    }
}
@media screen and (min-width: 650px){
    .profile__avatar-button{
        margin-right: 26px;
        margin-bottom: 0;
    }
}