.profile{
    display: flex;
    margin: 0 auto;
    margin-top: calc((100%/-280) + (302px/7));
    align-items: center;
}
@media screen and (max-width: 650px){
    .profile{
        flex-direction: column;
        width: 90%;
    }
}
@media screen and (min-width: 650px){
    .profile{
        flex-direction: row;
        width: 100%;
    }
}